
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://i.redd.it/ps2-inspired-desktop-wallpapers-v0-wcsq1qqyf0k81.png?width=2880&format=png&auto=webp&s=1ec181640f38087641bea4f9e83e3d254d0a3a0b);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.aboutDiv{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.aboutText{
}
.socialLinks{
  text-align: center;
  margin-left: 20vw;

}

a {
  color: #ba3fc3;
  text-decoration: none;
  font-family: "Press Start 2P";
}
.woof{
  font-family: "Press Start 2P";
  color: #38e807;
}

header {
  background-color: #212121;
  display: flex;
  align-items: center;
  height: 3em;
}
nav{
  margin-left: auto;
}
.projectTitle{
  color: #ba3fc3;
  font-family: "Press Start 2P";
}
.hound{
  height: 6vh;
}

header nav a {
  margin: 0 1em;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: #000000;
}

input:active,
input:focus {
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

input:active::placeholder,
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 2em 0;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
  margin: 0 1em;
  font-family: "Press Start 2P";
  color: #38e807;
}

button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #ba3fc3;
}

.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  opacity: 0.8;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .info-wrapper {
  padding: 1em;
}
.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}
.genres {
  width: 100%;
}
.genres h2,
.search h2 {
  text-align: center;
  color: #38e807;
  font-family: "Press Start 2P";
}

.game-content .image-container {
  width: 95vw;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em 0;
}

.image-container div {
  margin: auto;
  width: 90%;
}

.image-container img {
  margin: auto;
  text-align: center;
  width: 100%;
}

.details {
  width: 80%;
  margin: auto;
}

.flex-row {
  display: flex;
}
.space {
  justify-content: space-between;
}

.gameTitle{
  color: #38e807;
  text-align: center;
  font-family: "Press Start 2P";
}
